## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'國家':['台灣', '日本', '韓國', '新加坡'] ,
        '人口':[23580000, 126800000, 51470000, 5612000] }
df = pd.DataFrame(data)
df

    國家         人口
0   台灣   23580000
1   日本  126800000
2   韓國   51470000
3  新加坡    5612000

In [3]:
df[df['人口'] == df['人口'].max()]

   國家         人口
1  日本  126800000

# 隨機產生

In [4]:
data_1 = {'國家':['A', 'B', 'C', 'D'] ,
        '人口':np.random.randint(low=100, high=999, size=4) }
df_1 = pd.DataFrame(data_1)
display(df_1)

df_1[df_1['人口'] == df_1['人口'].max()]

  國家   人口
0  A  213
1  B  538
2  C  938
3  D  405

  國家   人口
2  C  938